rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /words/{uid} {
      allow write: if request.auth.uid != null && request.auth.uid == request.resource.data.user;
      allow read: if request.auth.uid == resource.data.user;
    }

  }
}
